.test{
     text-align: center;
}

  .img-gaming {
    width: 300px;
    height: 168px;
  }
  .img-travel {
    width: 300px;
    height: 168px;
  }

  .img-number  {
    width: 223px;
    height: 226px;
  }

  
